<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzh.weixinservice.persistence.TAccountWxInfoMapper">
  <resultMap id="BaseResultMap" type="TAccountWxInfo">
    <id column="uuid" jdbcType="BIGINT" property="uuid" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="session_key" jdbcType="VARCHAR" property="sessionKey" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, user_id, appid, openid, session_key
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_account_wx_info
    where uuid = #{uuid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_account_wx_info
    where uuid = #{uuid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="TAccountWxInfo">
    <selectKey keyProperty="uuid" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_account_wx_info (uuid, user_id, appid, 
      openid, session_key)
    values (#{uuid,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{appid,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR}, #{sessionKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="TAccountWxInfo">
    <selectKey keyProperty="uuid" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_account_wx_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      uuid,
      <if test="userId != null">
        user_id,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="sessionKey != null">
        session_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{uuid,jdbcType=BIGINT},
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null">
        #{sessionKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="TAccountWxInfo">
    update t_account_wx_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null">
        session_key = #{sessionKey,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="TAccountWxInfo">
    update t_account_wx_info
    set user_id = #{userId,jdbcType=BIGINT},
      appid = #{appid,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      session_key = #{sessionKey,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>
  <select id="findUserInfoByOpenId" parameterType="java.util.Map" resultType="TAccountWxInfo">
  	SELECT
	  tawi.uuid,
	  tawi.user_id,
	  tawi.appid,
	  tawi.openid,
	  tawi.session_key
	FROM
	  t_account_wx_info tawi 
	WHERE 1=1
	<if test="openid != null">
        AND tawi.openid = #{openid,jdbcType=VARCHAR},
      </if>
  </select>
</mapper>